<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>talants</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>

@import "header.html"
<div class="notifications">
    <div class="container">
        <div class="settings-flex">
            <ul class="settings">
                <li class="settings-tab">
                    <a href="#" class="text">Основные</a>
                </li>
                <li class="settings-tab">
                    <a href="#" class="text">Анкета</a>
                </li>
                <li class="settings-tab">
                    <a href="#" class="text active">Уведомления</a>
                </li>
                <li class="settings-tab">
                    <a href="#" class="text">Финансы</a>
                </li>
                <li class="settings-tab">
                    <a href="#" class="text">Партнерская программа</a>
                </li>
                <li class="settings-tab">
                    <a href="#" class="text">Контакты</a>
                </li>
            </ul>
            <ul class="notifications-item">
                <li class="notifications-top">
                    <p class="text notifications-left">Тип уведомления</p>
                    <div class="notifications-top-row">
                        <img src="img/email-gray.svg" alt="email" class="notifications-icon">
                        <p class="text">E-mai</p>
                    </div>
                    <div class="notifications-top-row">
                        <img src="img/phone-gray.svg" alt="phone" class="notifications-icon">
                        <p class="text">Push</p>
                    </div>
                    <div class="notifications-top-row">
                        <img src="img/pc.svg" alt="pc" class="notifications-icon">
                        <p class="text">Push</p>
                    </div>
                </li>
                <li class="notifications-li">
                    <p class="text">Системные уведомления</p>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                </li>
                <li class="notifications-li">
                    <p class="text">Финансовые уведомления</p>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                </li>
                <li class="notifications-li">
                    <p class="text">Уведомление при смене статуса заказа</p>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                </li>
                <li class="notifications-li">
                    <p class="text">Я хочу получать новости сайта</p>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                    <label class="settings-label">
                        <input type="checkbox" class="checkbox">
                        <span class="settings-checkbox">
                            <span class="check"></span>
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/bodyScrollLock.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
